/*************TOPNAV************/
.topnav {
    overflow: hidden;
    background-image:linear-gradient(to right, yellow, #2196F3, #003366);
    margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav a.active {
    float: left;
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: center;
    border: solid 2px transparent;
    padding: 12px 13px;
    text-decoration: none;
    margin: 5px;
}

.topnav a.shopandlogin {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 13px;
    border: solid 2px transparent;
    text-decoration: none;
    font-size: 20px;
    margin: 12px 5px 5px 5px;
}

.topnav a.shopandlogin#log{
    margin-right: 20px;
}

/* Change the color of links on hover */
.topnav a.active:hover {
    border-color: #003366;
}

.topnav a.shopandlogin:hover {
    border-color: white;
}

.topnav input[type=text] {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border: 1px solid #003366;
    margin-top: 22px;
    margin-right: 16px;
    margin-left: 20px;
    font-size: 17px;
    width: 500px;
}

.topnav input.cerca{
    padding: 7px;
}

/*****************************************/
body{
    background-color: #e4e4e4;
    margin: 0;
    padding: 0; 
}

body>div.topnav>a#title{
    font-size: xx-large;
}

main > div > table > tbody > tr > td > a > img{
    margin: 0px 20px 0px 20px;
    border-radius: 100%;
    background-color: #e4e4e4;
    border: solid 10px white;
    vertical-align: top;
}

main > div > table > tbody > tr > td > a > img:hover{
   border-color: yellow;
}

main > div > table > tbody > tr > td > a {
    color: black;
    text-decoration: none;
}

figcaption{
    text-align: center;
}

h2{
    margin-left: 2%;
     margin-top: 5px;
     margin-bottom: 10px;
     font-style: italic;
}

main > div.categories  {
    margin-left: 3%;
    margin-right: 3%;
    padding-right: 30%;
    padding-bottom: 20px;
    border-bottom: 20px solid #2196F3;
    border-top: 20px solid #2196F3;
    overflow: auto;
    background-color: white;
}

main > section > div.prodotti{
    background-color: white;  
    margin: 2% 3% 10px 3%; 
    border-bottom: 20px solid #2196F3;
    border-top: 20px solid #2196F3;
}

main > section#registrazione {
    margin: 2% 3% 10px 3%; 
    text-align: center;
}

main > section > a {
    font-weight: bold;
    font-size: 25px;
    border: solid 5px transparent;
}

main > section > a:hover {
    border: solid 5px yellow;
}

img{
    width: 150px;
    height: 150px;
    object-fit:contain;
}

main > section > div > ul > li{
    display: inline-block;
    background-color: white;
    border: 5px solid transparent;
    padding: 5px;
    height: 200px;
    width: 180px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
}

main > section > div > ul > li:hover{
    border: solid 5px yellow;
}

aside > footer{
    border-top: 15px solid #006699 ;
    background-color:#003366;
    text-align: center;
}

aside > footer > ul > li{
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    color: #e4e4e4;
    vertical-align: top;
    font-size: 20px;
}

aside > footer > ul > li > p{
    font-size: 15px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 150px;
}

aside > footer > ul > li > div > a > img{
    display:inline-block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    width: 80px;
}

aside > footer > ul > li > div{
    height: auto;
    width: auto;
}

main > form{
    background-color: white;
    border: 1px solid #cacaca;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

form{
    padding: 0 5% 20px;
}

form ul{
    width: 80%;
    margin: 0 10%;
    list-style: none;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
   text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
    cursor: pointer;
}

form ul li input:not([type = "submit"]){
    width: 49%;
    box-sizing: border-box;
}

form ul li input[type = "submit"]{
    border-width: 1px;
    background-color: yellow;
    cursor: pointer;
    border-style: inset;
    font-size: 14px;
    margin-right: 1%;
}

form ul li input[type="checkbox"]{
    margin: 0;   
    width: unset;
}

#nomeCat{
    border-bottom: 1px solid #003366;
    border-width: 100%;
}

section.gestione>form>ul{
  margin: 0px;
  padding: 15px ;
  border: 3px solid #003366;
  background-color: white;
}

div.articoli{
    border: 10px solid #003366;
    background-color: white;
    width: 90%;
    height: 350px;
    margin: 3%;
}

div.articoli > div.descrizione{
    margin-left: 160px;
    margin-right: 80px;
}

div.articoli>aside{
    margin-top: 50px;
    display: block;
    font-size: xx-large;
}

div.articoli>img{
    border: 5px solid #006699;
    float: left;
    margin: 1% 3% 1% 2%;
    transition: all 0.3s;
    overflow: hidden;
	display: block;
	width: 200px;
	height: 200px; 
    
}
div.articoli:hover img	{
 -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.articoli>figcaption{
    margin: 3%;
    font-size: xx-large;
}

div.articoli>div.descrizione{
    margin: 3%;
}

div.articoli >aside > a{
    background-color: white;
    border: 5px solid yellow;
    text-decoration: none;
    color:#003366;
    padding-right: 20px;
    padding-left: 20px;
    font-size: large;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

div.articoli > aside > a:hover{
    background-color: #003366;
    color: white;
}
/********************CARRELLO*************************/
div#messaggio {
    background-color: white;
    text-align: center;
    color: red;
    font-size: 20px;
    margin-right: 35%;
    margin-left: 35%;
}

section#carrello{
    background-color: white;
    margin: 0 5% 3% 5%;
}

section#carrello>h2{
    text-align: center;
}

section#carrello > form > ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

section#carrello>form>ul>li{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #003366;
    border-top: 1px solid #003366;
}

section#carrello div#primo{
    display: inline-block;
}

section#carrello div#primo img{
    object-fit: contain;
    width: 160px;
    height: 160px;
}

section#carrello input[type=checkbox]{
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-top: 60px;
}

section#carrello div#secondo{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
}

section#carrello div#secondo label#nome{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

section#carrello div#secondo label#rimuovi{
    margin-bottom: 18px;
}

section#carrello div#secondo input#rimuoviProdotto{
    width: 100%;
}

section#carrello div#terzo{
    text-align:end;
}

section#carrello form ul li:last-child {
    text-align: unset;
}

div#acquista{
    text-align: right;
}

div#acquista > input{
    background-color: white;
    border: 5px solid yellow;
    text-decoration: none;
    color:#003366;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
}

div#acquista > input:hover{
    background-color: #003366;
    color: white;
}

/***************************************************/


div.topnav>form{
    float: left;
}

#drop-menu{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    list-style: none;
}

ul#menu{
    padding-left: 0;
    margin-left: 10px;
}

ul#menu li {
    position: relative;
    list-style: none;
}

ul#menu li a {
	float: left;
    padding:12px 5px;
	color: #fff;
    text-transform: uppercase;
    background-color: #003366;
	text-decoration:none;
}

ul#menu li a:hover {
	background: #666;
	color:#fff
}

ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
    background: #444;
    border: 2px solid white;
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}

ul#menu ul a {
    padding:10px;
	width: 130px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

ul#menu ul a:hover {
	background-color: #0186ba;
	color:#fff
}

label#selectCat{
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 3px;
}

label#inserisci{
    display: block;
    margin-left: 20px;
    font-size: 18px;
}

#home-benvenuto{
    margin-left: 10px;
}

#elenco{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#login-home{
    background-color: white;
    padding-bottom: 20px;
    border-bottom: 20px solid #2196F3;
    border-top: 20px solid #2196F3;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

#login-home > a{
    display: block;
    margin-left: 20px;
}

div#ending {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
}

div#ending > h2{
    margin-top: 0;
    font-size: 25px;
}

div#ending > a{
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    border: 4px solid yellow;
}

div#ending > a:hover{
    background-color: #003366;
    color: white;
}

div.log-home, div.funzioni{
    margin-left: 3%;
    margin-bottom: 10px;
    margin-right: 3%;
    text-align: center;
    display:flex; 
    flex-direction:row;
}

div.log-home > a , div.funzioni > a{ 
    background-color: white;
    border: 5px solid yellow;
    text-decoration: none;
    color:#003366;
    padding-right: 50px;
    padding-left: 50px;
    display: block;
    flex-grow:1;
}

div.log-home > a:hover, div.funzioni > a:hover, #back:hover{
    background-color: #003366;
    color: white;
}

#back{
    background-color: white;
    border: 5px solid yellow;
    text-decoration: none;
    color:#003366;
    padding-right: 50px;
    padding-left: 50px;
}

input#back{
    float: right;
}

div.log-home > a:not(:last-child), div.funzioni > a:not(:last-child){
    margin-right: 20px;
}


section>p#messaggio{
    font-style: none;
    background-color: yellow;
}

@media screen and (max-width:850px){
    div.log-home, div.funzioni{
        margin-left: 3%;
        margin-bottom: 10px;
        margin-right: 3%;
        text-align: center;
        display:flex; 
        flex-direction:column;
    }

    div.log-home > a, div.funzioni > a{
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .topnav input[type=submit]{
        display: none;
    }

    .topnav input[type=text]{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
    }

    .topnav{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .topnav a.shopandlogin{
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .topnav > form{
        padding-left: 0px;
    }

    input#back{
        margin-top: 10px;
        float: none;
    }
}
